{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/home_page.css' %}">
{% endblock %}

{% block content %}

<main class="main">
    <div class="news py-5">
        <div class="container">
            <h1>Последние новости</h1>
            <div class="row row-cols-2 row-cols-md-3 gy-3">
                {% for post in newspages %}
                {% with post=post.specific %}
                <div class="col">
                    <div class="card h-100">
                        {% image post.main_image original as main_image %}
                            {% if main_image %}
                            <img class="card-img-top" src="{{ main_image.url }}" width="100%" height="200px" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                            {% else %}
                                <img class="card-img-top" src="{% static 'empty_image.png' %}" width="100%" height="200px" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                            {% endif %}
                        <div class="card-body">
                            <h3 class="card-text">{{ post.title }}</h3>
                            <p class="card-text">{{ post.intro }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="{% pageurl post %}"><span>Подробнее...</span></a>
                                <small class="text-muted">{{ post.date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
            <p class="text-center pt-3"><a href="{% pageurl newsindexpage %}">Все новости</a></p>
        </div>
    </div>
</main>

{% endblock content %}

{% block extra_js %}
<script src="{% static '/js/home_page.js' %}"></script>
{% endblock %}