{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/home_page.css' %}">
{% endblock %}

{% block content %}

<main class="main">
    {% comment %} <div id="homeCarousel" class="carousel slide pt-5" data-bs-ride="carousel">
        <div class="container">
            <div class="carousel-inner">
                {% for carousel_image in page.carousel_images.all %}
                {% image carousel_image original as ci %}
                <div class="carousel-item" data-bs-interval="10000">
                    <a href="#"><img src="{{ ci.url }}" width="100%" height="400px" alt=""></a>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="news py-5">
        <div class="container">
            <h1>Последние новости</h1>
            <div class="row row-cols-2 row-cols-md-3 gy-3">
                {% for post in newspages %}
                {% with post=post.specific %}
                <div class="col">
                    <div class="card h-100">
                        {% image post.main_image original as main_image %}
                            {% if main_image %}
                            <img class="card-img-top" src="{{ main_image.url }}" width="100%" height="200px" role="img" aria-label="Placeholder: Thumbnail">
                            {% else %}
                                <img class="card-img-top" src="{% static 'empty_image.png' %}" width="100%" height="200px" role="img" aria-label="Placeholder: Thumbnail">
                            {% endif %}
                        <div class="card-body">
                            <h3 class="card-text">{{ post.title }}</h3>
                            <p class="card-text">{{ post.intro }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="{% pageurl post %}"><span>Подробнее...</span></a>
                                <small class="text-muted">{{ post.date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
            <p class="text-center pt-3"><a href="{% pageurl newsindexpage %}">Все новости</a></p>
        </div>
    </div>
    {% comment %} <div class="tours py-5">
        <div class="container">
            <h1>Туры</h1>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 gy-3">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'empty_image.png' %}" width="100%" height="200px" role="img" aria-label="Placeholder: Thumbnail">
                        <div class="card-body">
                            <p class="card-text">
                                Описание
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#"><span>Подробнее...</span></a>
                                <small class="text-muted">Дата</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
</main>

{% endblock content %}

{% block extra_js %}
<script src="{% static '/js/home_page.js' %}"></script>
{% endblock %}