{% load static wagtailcore_tags wagtailuserbar %}
<header class="header">
    <nav class="navbar navbar-expand-sm navbar-dark" aria-label="Third navbar example">
        <div class="container">
            <a class="navbar-brand" href="{% slugurl 'home' %}"><img class="brand-image" src="{% static 'brand.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCommon" aria-controls="navbarCommon" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCommon">
                <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
                    {% comment %} <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Главная</a></li> {% endcomment %}
                    {% comment %} <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Проекты</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Шоу Аркуда</a></li>
                            <li><a class="dropdown-item" href="#">Тревел-шоу «Всё или ничего»</a></li>
                            <li><a class="dropdown-item" href="#">Аркуда.ГЕО</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">О нас</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown02">
                            <li><a href="#" class="dropdown-item">Общее</a></li>
                            <li><a href="#" class="dropdown-item">Документы</a></li>
                            <li><a href="#" class="dropdown-item">Команда</a></li>
                            <li><a href="#" class="dropdown-item">СМИ о нас</a></li>
                            <li><a href="#" class="dropdown-item">Контакты</a></li>
                        </ul>
                    </li> {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
</header>