.page {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.navbar {
    --bs-bg-opacity: 1;
    background-color: #2D2E32;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.brand-image {
    height: 60px;
}
.navbar-nav {
    margin-right: 100px;
}

.carousel-indicators {
    margin: 0;
    padding-top: 1.5rem;
}

.text-center {
    margin: 0;
}

.footer {
    padding: 30px 0;
    margin-top: auto;

    color: #fff;

    background-color: #0F1011;
}